.container-fluid.fixed-top.header.disable-selection
  .row
    .col
    .col-md-6
      .row
        .col
          h1
            strong Smoke
          p – Experiment –
    .col
//.container-fluid.fixed-bottom.footer
 .row
  .col
   h4 Experiment N.3
   small
    a(href='https://dribbble.com/victorvergara', target='_blank') dribbble.com/victorvergara